<ion-header>
  <ion-navbar>
    <ion-title>
      Bulb Config
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-fab top right edge>
    <button ion-fab mini (click)="addABulb()">
      <ion-icon *ngIf="!add" name="add"></ion-icon>
      <ion-icon *ngIf="add" name="close"></ion-icon>
    </button>
  </ion-fab>

  <ion-list *ngIf="add">

    <ion-item>
      <ion-label fixed>Bulb name</ion-label>
      <ion-input type="text" [(ngModel)]="bulbName"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label fixed>Bulb id</ion-label>
      <ion-input type="number" [(ngModel)]="bulbId"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label fixed>Bulb description</ion-label>
      <ion-input type="text" [(ngModel)]="bulbData"></ion-input>
    </ion-item>

    <ion-item>
      <button padding-vertical ion-button block (click)="addBulb()">
        Add Bulb
      </button>
    </ion-item>

  </ion-list>

  <ion-list>
    <ion-item>
      <h1 padding-vertical>
        Bulb details:
      </h1>
    </ion-item>

    <ion-item *ngFor="let bulb of bulbs">
      <ion-card>

        <ion-card-header>
          {{bulb.id}} - {{bulb.bulbName}}
        </ion-card-header>

        <ion-card-content>
          <hr> {{bulb.bulbData}}
          <hr>
          <button padding-vertical ion-button block (click)="removeBulb(bulb)">
            Remove Bulb
          </button>
        </ion-card-content>

      </ion-card>
    </ion-item>
  </ion-list>


  <!-- <div padding>
    <hr>
    <hr>
    <h1 padding-vertical>
      Logs:
    </h1>
    <p [innerHTML]="status"></p>
  </div>

  <div padding>
    {{object|json}}
  </div> -->
</ion-content>