<ion-header>
  <ion-navbar>
    <ion-title>
      Connect to Wi-Fi AP
    </ion-title>
    <ion-buttons end>
      <ion-toggle end [(ngModel)]="wifi"></ion-toggle>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-card>
      <ion-item>
        <ion-label fixed>SSID</ion-label>
        <ion-input type="text" [(ngModel)]="ssid"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label fixed>Password</ion-label>
        <ion-input [type]="passwordType1" [(ngModel)]="password"></ion-input>
        <button ion-button icon-only item-end clear (click)='hideShowPassword1()'>
          <ion-icon item-end [name]="passwordIcon1" class="passwordIcon1" (click)='hideShowPassword1()'></ion-icon>
        </button>
      </ion-item>

      <ion-item>
        <ion-label fixed>Host IP</ion-label>
        <ion-input type="text" [(ngModel)]="ip"></ion-input>
      </ion-item>

      <ion-item>
        <button padding-vertical ion-button block (click)="connectToWifi()">
          connect
        </button>
      </ion-item>
    </ion-card>
    <ion-item *ngIf="!change">
      <button padding-vertical ion-button block (click)="changepass()">
        Change Password
      </button>
    </ion-item>

  </ion-list>
  <ion-card *ngIf="change">
    <ion-card-header>Change Password</ion-card-header>

    <ion-item>
      <ion-label fixed>Current Password</ion-label>
      <ion-input [type]="passwordType" [(ngModel)]="spassword" readonly=true></ion-input>
      <button ion-button icon-only item-end clear (click)='hideShowPassword()'>
        <ion-icon item-end [name]="passwordIcon" class="passwordIcon" (click)='hideShowPassword()'></ion-icon>
      </button>
    </ion-item>
    <ion-item>
      <ion-label fixed>New Password</ion-label>
      <ion-input (ionInput)="getItems($event)" [type]="passwordType" [(ngModel)]="passwordnew"></ion-input>
      <button ion-button icon-only item-end clear (click)='hideShowPassword()'>
        <ion-icon item-end [name]="passwordIcon" class="passwordIcon" (click)='hideShowPassword()'></ion-icon>
      </button>

    </ion-item>
    <ion-item>
      <button ion-button block (click)="changepassword()">
        change
      </button>
    </ion-item>


  </ion-card>

  <ion-list>
    <ion-item>
      <hr>
      <hr>
      <h1 padding-vertical>
        Bulb Data:
      </h1>
    </ion-item>

    <ion-item>
      <ion-label>Intensity Save Mode</ion-label>
      <ion-toggle end [(ngModel)]="saveMode"></ion-toggle>
    </ion-item>

    <ion-item>
      <button padding-vertical ion-button block (click)="getDetails()">
        Get current data
      </button>
    </ion-item>

    <ion-item *ngFor="let bulb of bulbs">
      <ion-card>

        <ion-card-header>
          {{bulb.id}} - {{bulb.bulbName}} - {{bulb.state|bulbState}}
        </ion-card-header>

        <ion-card-content>
          <hr> {{bulb.bulbData}}
          <hr>
          <button padding-vertical ion-button block (click)="switch(bulb)">
            Switch {{!bulb.state|bulbState}}
          </button>
        </ion-card-content>

      </ion-card>
    </ion-item>
  </ion-list>


  <div padding>
    <hr>
    <hr>
    <h1 padding-vertical>
      Logs:
    </h1>
    <p [innerHTML]="status"></p>
  </div>
  <!-- <div padding>
    {{object|json}}
  </div> -->
</ion-content>