<ion-header>
  <ion-navbar>
    <ion-title >
      Connect to bulb
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list >
      <ion-grid>
          <ion-row>
            <ion-col col-6>
                <ion-item *ngIf="connected">
                    <div class="item-content">
                        
                            <p>You have Connected</p>
                          
                      </div>
                    </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-6></ion-col>
          </ion-row>
        </ion-grid>
     
    
    <ion-item *ngIf="!connected">
      <ion-label fixed>SSID</ion-label>
      <ion-input type="text" [(ngModel)]="ssid"></ion-input>
    </ion-item>

    <ion-item *ngIf="!connected">
      <ion-label fixed>Password</ion-label>
    
      <ion-input [type]="passwordType" [(ngModel)]="password" ></ion-input>
      <ion-icon item-end [name]="passwordIcon" class="passwordIcon" (click)='hideShowPassword()'></ion-icon>
      
    </ion-item>

    <ion-item *ngIf="!connected">
      <ion-label fixed>Bulb IP</ion-label>
      <ion-input type="text" [(ngModel)]="ip"></ion-input>
    </ion-item>

    <ion-item *ngIf="!connected">
      <button padding-vertical ion-button block (click)="connectTobulb()">
        connect to bulb
      </button>
    </ion-item>

    <ion-item>
      <button padding-vertical ion-button block (click)="getpassword()">
        Get Bulb Deatails
      </button>
    </ion-item>

    <ion-item>
      <button padding-vertical ion-button block (click)="updatebulbid()">
        Update Bulb id
      </button>
    </ion-item>
    <ion-item>
        <button padding-vertical ion-button block (click)="updatepassword()">
          Update Password
        </button>
      </ion-item>
  </ion-list>

  <!-- <ion-list>
    <ion-item *ngFor="let bulb of bulbs">
      <ion-label>SSID</ion-label>
      <button padding-vertical ion-button block (click)="getData()">
        Get current data
      </button>
    </ion-item>
  </ion-list> -->

  <div padding>
    <p [innerHTML]="status"></p>
  </div>
</ion-content>