page-hotspot {
    
}
.item-content {
    
    padding-top:10px;
    padding-left:10px;
    padding-bottom:10px;
    padding-right: 10px;
    background-color:#71c784;
  }
  div.item-content * {
    color: #E3F2FD !important;
 }
  
